<div class="container m-5 animate__animated animate__fadeIn">

    <div class="row">
        <div class="col">
            <div class="card float-left bg-primary text-white">
                <div class="card-header">
                    <h2>Socios totales </h2>
                </div>
                <div class="card-body">
                    <h1 class="mx-4 float-none">{{ totalSocios }}</h1>
                </div>


            </div>
        </div>
        <div class="col">
            <div class="card float-left bg-warning text-white">
                <div class="card-header">
                    <h2>Convenios totales</h2>
                </div>
                <div class="card-body">
                    <h1 class="mx-4 float-none contar">{{ totalConvenios }}</h1>
                </div>
    
            </div>
        </div>
        <div class="col">
            <div class="card float-left bg-success text-white">
                <div class="card-header">
                    <h2 >Total en {{ hoy | date:'MMMM' | capitalizado }}</h2>
                </div>
                <div class="card-body">
                    <h1 class="mx-4 float-none" >${{ totalRecaudadoMes | number:'1.2-2'}}</h1>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card float-left bg-danger text-white">
                <div class="card-header">
                    <h2>Total recaudado</h2>
                </div>
                <div class="card-body">
                    <h1 class="mx-4 float-none" >${{ totalRecaudado | number:'1.2-2'}}</h1>
                </div>
            </div>
        </div>
    </div>

</div>