<div class="container-fluid animate__animated animate__fadeIn">
    <div class="card mb-3">
        <div class="card-header pt-2">
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <h3 class="my-2">Socios</h3>
                </div>
                <div class="col-md-7 col-sm-12">
                    <button class="btn btn-outline-primary float-end me-2 mt-2" [routerLink]="['crear']">Nuevo</button>
                    <button class="btn btn-outline-success float-end me-2 mt-2" (click)="exportarXLS()">
                        <i class="fas fa-file-download"></i> XLS</button>
                    <div class="buscador input-group float-end me-2 mb-3">
                        <input #buscador (keyup)="buscar(buscador.value)" type="text" class="form-control"
                            placeholder="Buscar" aria-label="Buscar" aria-describedby="buscardor">
                        <button (click)="buscar(buscador.value)" class="btn btn-outline-secondary" type="button"
                            id="buscador">Buscar</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-body">

            <cdk-virtual-scroll-viewport itemSize="30" minBufferPx="200" maxBufferPx="400"
                style="height: 750px;">
                <table class="table table-hover table-striped table-bordered text-center table-responsive">
                    <thead class="table-dark thead">
                        <tr>
                            <th class="py-1">DOCUMENTO</th>
                            <th class="py-1">SOCIO</th>
                            <th class="py-1">LEGAJO</th>
                            <th class="py-1">CORREO</th>
                            <th class="py-1">DIRECCION</th>
                            <th class="py-1">TELEFONO</th>
                            <th class="py-1">CLASE</th>
                            <th class="py-1">OPCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *cdkVirtualFor="let socio of socios" class="align-middle animate__animated animate__fadeIn">

                            <th class="py-0">{{ socio.numDoc }}</th>
                            <td class="py-0">{{ socio.apellido }}, {{ socio.nombre }}</td>
                            <td class="py-0">{{ socio.legajo }}</td>
                            <td class="py-0">{{ socio.correo }}</td>
                            <td class="py-0">{{ socio.direccion }}</td>
                            <td class="py-0">{{ socio.telefono }}</td>
                            <td class="py-0">{{ socio.tipo.nombre }}</td>

                            <td class="py-1">
                                <button class="btn btn-outline-warning" [routerLink]="['editar/' + socio.id]"><i
                                        class="fas fa-pencil-alt"></i></button>
                                <button class="btn btn-outline-danger mx-2" (click)="borrarSocio(socio)"><i
                                        class="fas fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</div>