
<div class="container-fluid animate__animated animate__fadeIn">
    <div class="card mb-3">
        <div class="card-header pt-2">
            <div class="row">
                <div class="col-lg-5 col-sm-12">
                    <h3 class="my-2">Convenios</h3>
                </div>
                <div class="col-lg-7 col-sm-12">
                    <button class="btn btn-outline-primary float-end me-2 mt-2" [routerLink]="['crear']">Nuevo</button>
                    <button class="btn btn-outline-dark float-end me-2 mt-2" (click)="mostrarTodos()">
                        <i class="fas fa-city"></i> Todos</button>
                    <div class="buscador input-group float-end me-2 mb-3">
                        <input #buscador (keyup)="buscar(buscador.value)" type="text" class="form-control"
                            placeholder="Buscar" aria-label="Buscar" aria-describedby="buscardor">
                        <button (click)="buscar(buscador.value)" class="btn btn-outline-secondary" type="button"
                            id="buscador">Buscar</button>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="card-body">
            
            <cdk-virtual-scroll-viewport itemSize="30" minBufferPx="200" maxBufferPx="400" style="height: 750px;">
            <table class="table table-hover table-striped table-bordered text-center table-responsive">
                <thead class="table-dark thead">
                    <tr>
                        <th class="py-1">CUIT</th>
                        <th class="py-1">COMERCIO</th>
                        <th class="py-1">CONTACTO</th>
                        <th class="py-1">DIRECCION</th>
                        <th class="py-1">TELEFONO</th>
                        <th class="py-1">CORREO</th>
                        <th class="py-1">LOCALIDAD</th>
                        <th class="py-1">CATEGORIA</th>
                        <th class="py-1">OPCIONES</th>
                    </tr>
                </thead>
                <tbody>
                        <tr *cdkVirtualFor="let convenio of convenios" class="align-middle animate__animated animate__fadeIn">
                            <th class="py-0">{{ convenio.cuit }}</th>
                            <td class="py-0">{{ convenio.nombre }}</td>
                            <td class="py-0">{{ convenio.contacto }}</td>
                            <td class="py-0">{{ convenio.direccion }}</td>
                            <td class="py-0">{{ convenio.telefono }}</td>
                            <td class="py-0">{{ convenio.correo }}</td>
                            <td class="py-0">{{ convenio.localidad.nombre }}</td>
                            <td class="py-0">{{ convenio.categoria.nombre }}</td>         
                            <td class="py-1">
                                <button class="btn btn-outline-warning" [routerLink]="['editar/' + convenio.id]"><i class="fas fa-pencil-alt"></i></button>
                                <button [disabled]="convenio.id == 1" class="btn btn-outline-danger mx-2" (click)="borrarConvenio(convenio)"><i class="fas fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </cdk-virtual-scroll-viewport>


        </div>
        
    </div>
</div>
