<div class="container mt-2 animate__animated animate__fadeIn">

  <div class="card mb-3">
    <div class="card-header pt-2">
      <div class="row">
        <div class="col" *ngIf="!editar">
          <h2>Nuevo socio</h2>
        </div>
        <div class="col" *ngIf="editar">
          <h2>Editar socio</h2>
        </div>
        <div class="col">
          <button class="btn btn-outline-dark mx-4 mt-1 float-end" (click)="volver()"><i class="fas fa-chevron-left"></i> Volver </button>
        </div>
      </div>
    </div>
    <div class="card-body pt-0">

      <form autocomplete="off" [formGroup]="form" (ngSubmit)="guardar()">

        <div class="row">
          <div class="col-11 col-sm-5 col-md-3 m-3">
            <div *ngIf="activarCamara" class="mt-5">
              <!-- -->
              <div class="foto ms-3">
                <webcam [width]="300" [height]="206" [trigger]="triggerObservable" (imageCapture)="handleImage($event)">
                </webcam>
              </div>

              <div class="mt-2 text-center" >
                <button type="button" class="btn btn-outline-danger me-1" (click)="activarCamara = !activarCamara">
                  Cancelar
                </button>
                <button type="button" class="btn btn-outline-success ms-1" (click)="triggerSnapshot()">
                  <i class="fas fa-camera"></i> Tomar
                </button>

              </div>

            </div>
            <div *ngIf="!activarCamara">
              <div class="imagen mx-4 mt-1">
                <div *ngIf="subiendo" id="subiendo" class="animate__animated animate__fadeIn">
                  <i class="fas fa-sync-alt fa-4x fa-spin" ></i>
                </div>
                <img id="foto-subida" class="animate__animated animate__fadeIn" *ngIf="!subiendo && foto  && foto " [src]="foto.url">
                <img id="no-image-icon" *ngIf="!subiendo && !foto || !foto && !subiendo "
                src="../../../../assets/img/no-image-icon.png" width="230px" height="230px">
              </div>
              <div class="text-danger ms-4" *ngIf="!guardado">
                <span>No olvides guardar el formulario para guardar esta imagen!</span>
              </div>
              <div class="my-4" *ngIf="guardado">

              </div>

              <div class="text-center mt-2">
                <button type="button" class="btn btn-outline-success me-1" (click)="activarCamara = !activarCamara">
                  <i class="fas fa-camera"></i> Tomar
                </button>
                <button type="button" class="btn btn-outline-primary ms-1" (click)="inputFoto()">
                  <i class="fas fa-cloud-upload-alt"></i> Subir
                </button>
                <button type="button" class="btn btn-outline-danger ms-1" (click)="quitarFoto()">
                  <i class="fas fa-trash"></i> Borrar
                </button>
              </div>
            </div>

          </div>
          <div class="col-11 col-sm-5 col-md-4 ms-3 mt-4">
            <div class="form-group row my-3">
              <label class="col-4 col-form-label">Nombre</label>
              <div class="col">

                <input class="form-control" #nombre type="text" placeholder="Nombre" formControlName="nombre" [class.is-invalid]="nombreNoValido">
                <span *ngIf="nombreNoValido" class="text-danger"> Debe ingresar un nombre</span>
               
              </div>
            </div>

            <div class="form-group row my-3">
              <label class="col-4 col-form-label">Apellido</label>
              <div class="col">

                <input class="form-control" #apellido type="text" placeholder="Apellido" formControlName="apellido" [class.is-invalid]="apellidoNoValido">
                       <span *ngIf="apellidoNoValido" class="text-danger"> Debe ingresar un apellido</span>
              </div>
            </div>
            <div class="form-group row my-3" formGroupName="tipoDocumento">
              <label class="col-4 col-form-label py-0">Tipo de documento</label>
              <div class="col ">
                <div class="input-group">
                  <select class="form-select" formControlName="id" [class.is-invalid]="tipoDocumentoNoValido">
                    <option *ngFor="let tipo of tiposDocumentos" [value]="tipo.id">{{ tipo.nombre }}</option>
                  </select>
                </div>
                <span *ngIf="tipoDocumentoNoValido" class="text-danger"> Debe seleccionar un tipo de documento </span>
              </div>
              
            </div>
            <div class="form-group row my-3">
              <label class="col-4 col-form-label">Documento</label>
              <div class="col">
                
                <input class="form-control" #documento type="number" placeholder="Documento" formControlName="numDoc" [class.is-invalid]="docNoValido">
                <span *ngIf="docNoValido" class="text-danger"> Debe ingresar un documento</span>
               
              </div>
            </div>


            <div class="form-group row my-3">
              <label class="col-4 col-form-label">Correo</label>
              <div class="col">

                <input class="form-control" type="text" placeholder="Correo" formControlName="correo" #correo
                  (keyup)="crearUsuarioPass(nombre.value, apellido.value, documento.value, correo.value)" [class.is-invalid]="correoNoValido">
                  <span *ngIf="correoNoValido" class="text-danger"> Debe ingresar un email válido</span>
  
              </div>
            </div>
          </div>

          <div class="col-md-4 ms-4 mt-4">
            <div class="form-group row my-3">
              <label class="col-4 col-form-label">Teléfono</label>
              <div class="col">

                <input class="form-control" type="number" placeholder="Teléfono" formControlName="telefono"[class.is-invalid]="telefonoNoValido">
                <span *ngIf="telefonoNoValido" class="text-danger"> Debe ingresar un teléfono </span>
              </div>
            </div>
            <div class="form-group row my-3">
              <label class="col-4 col-form-label">CUIL</label>
              <div class="col">

                <input class="form-control" type="number" placeholder="CUIL" formControlName="cuil" [class.is-invalid]="cuilNoValido">
                <span *ngIf="cuilNoValido" class="text-danger"> Debe ingresar un cuil </span>
              </div>
            </div>

            <div class="form-group row my-2">
              <label class="col-4 col-form-label">Fecha de Alta</label>
              <div class="col">

                <input class="form-control" type="date" placeholder="Fecha de Alta"  formControlName="fechaAlta"
                         [class.is-invalid]="fechaAltaNoValido">
                <span *ngIf="fechaAltaNoValido" class="text-danger"> Debe seleccionar una fecha </span>

              </div>
            </div>

            <div class="form-group row mt-2">
              <label class="col-4 col-form-label mt-1">Fecha de Nacimiento</label>
              <div class="col mt-3">

                <input class="form-control" type="date" placeholder="Fecha de Nacimiento"
                  formControlName="fechaNacimiento" [class.is-invalid]="fechaNacimientoNoValido">
                  <span *ngIf="fechaNacimientoNoValido" class="text-danger"> Debe seleccionar una fecha </span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label">Fecha de Ingreso Laboral</label>
              <div class="col mt-2">

                <input class="form-control" type="date" placeholder="Fecha de ingreso laboral"
                  formControlName="fechaIngresoLaboral" [class.is-invalid]="fechaIngresoLaboralNoValido">
                  <span *ngIf="fechaIngresoLaboralNoValido" class="text-danger"> Debe seleccionar una fecha </span>
               
              </div>
            </div>


          </div>




        </div>

        <div class="row mx-3">
          <div class="col-md-6">

            <div class="form-group row my-3" formGroupName="estadoCivil">
              <label class="col-4 col-form-label">Estado civil</label>
              <div class="col">
                <div class="input-group">
                  <select class="form-select" formControlName="id" [class.is-invalid]="estadoCivilNoValido">
                    <option *ngFor="let estado of estadosCiviles" [value]="estado.id">{{ estado.nombre }}</option>
                  </select>
                </div>
                <span *ngIf="estadoCivilNoValido" class="text-danger"> Debe seleccionar un estado civil </span>

              </div>
            </div>
            <div class="form-group row my-3">
              <label class="col-4 col-form-label">Dirección</label>
              <div class="col">

                <input class="form-control" type="text" placeholder="Dirección" formControlName="direccion" [class.is-invalid]="direccionNoValido">
                <span *ngIf="direccionNoValido" class="text-danger"> Debe ingresar una dirección </span>
              </div>
            </div>
            <div class="form-group row my-3" formGroupName="localidad">
              <label class="col-4 col-form-label">Localidad</label>
              <div class="col">
                <div class="input-group">
                  <select class="form-select" formControlName="id" [class.is-invalid]="localidadNoValido">
                    <option *ngFor="let localidad of localidades" [value]="localidad.id">{{ localidad.nombre }}</option>
                  </select>
                  
                </div>
                <span *ngIf="localidadNoValido" class="text-danger"> Debe seleccionar una localidad </span>

              </div>
            </div>

            <div class="form-group row my-3">
              <label class="col-4 col-form-label">Legajo</label>
              <div class="col">

                <input class="form-control" type="number" placeholder="Legajo" formControlName="legajo" [class.is-invalid]="legajoNoValido">
                <span *ngIf="legajoNoValido" class="text-danger"> Debe ingresar el legajo </span>
              </div>
            </div>
            <div class="form-group row my-3" formGroupName="tipo">
              <label class="col-4 col-form-label">Clase</label>
              <div class="col">
                <div class="input-group">
                  <select class="form-select" formControlName="id" [class.is-invalid]="tipoNoValido">
                    
                    <option *ngFor="let tipo of tipos" [value]="tipo.id">{{ tipo.nombre }}</option>
                  </select>
                </div>
                <span *ngIf="tipoNoValido" class="text-danger"> Debe seleccionar una clase </span>

      
              </div>
            </div>
            <div class="form-group row my-3" formGroupName="cuotaSocial">
              <label class="col-4 col-form-label">Cuota social</label>
              <div class="col" >

                <input class="form-control" type="text" placeholder="Cuota Social" formControlName="valor" readonly>
               
              </div>
            </div>
            <div class="form-group row my-3">
              <label class="col-4 col-form-label">Cuota deportiva</label>
              <div class="col">

                <input class="form-control" type="number" placeholder="Cuota deportiva" formControlName="cuotaDeporte">
              </div>
            </div>
            <div class="form-group row my-3">
              <label class="col-4 col-form-label">Seguro de Vida</label>
              <div class="col">

                <input class="form-control" type="number" placeholder="Seguro de vida" formControlName="seguroVida" >
              </div>
            </div>
            
            
          </div>
          
          
          
          <div class="col">
            
            <div class="form-group row my-3">
              <label class="col-4 col-form-label">Número de Cuenta</label>
              <div class="col">
  
                <input class="form-control" type="number" placeholder="Número de Cuenta" formControlName="numCuenta" [class.is-invalid]="numCuentaNoValido">
                <span *ngIf="numCuentaNoValido" class="text-danger"> Debe ingresar un número de cuenta </span>
              </div>
            </div>
            <div class="form-group row my-3">
              <label class="col-4 col-form-label">¿Extranjero?</label>
              <div class="col-1 mt-2">
                <div class="form-check">
                  <input class="form-check-input" type="radio" formControlName="extranjero" [value]="true">
                  <label class="form-check-label" for="flexRadioDisabled">
                    Si
                  </label>
                </div>
              </div>

              <div class="col-1 mt-2">
                <div class="form-check">
                  <input class="form-check-input" type="radio" formControlName="extranjero" [value]="false">
                  <label class="form-check-label" for="flexRadioCheckedDisabled">
                    No
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group row" formGroupName="usuario">
              <div class="form-group row mb-3 pe-0">
                <label class="col-4 col-form-label">Usuario</label>
                <div class="col pe-0">

                  <input class="form-control" type="text" placeholder="Usuario" formControlName="nombreUsuario"
                    readonly>

                </div>
              </div>
              
            </div>

            


            <div class="form-group row">
              <label class="col-4 col-form-label">¿Dado de baja?</label>
              <div class="col-1 mt-2">
                <div class="form-check">
                  <input class="form-check-input" #bajaTrue (change)="cambioValor(bajaTrue.value)" type="radio"
                    formControlName="baja" value="true">
                  <label class="form-check-label">
                    Si
                  </label>
                </div>
              </div>

              <div class="col-1 mt-2">
                <div class="form-check">
                  <input class="form-check-input" #bajaFalse (change)="cambioValor(bajaFalse.value)" type="radio"
                    formControlName="baja" value="false">
                  <label class="form-check-label">
                    No
                  </label>
                </div>
  

              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label">¿Habilitado?</label>
              <div class="col-1 mt-2">
                <div class="form-check">
                  <input class="form-check-input" type="radio"
                    formControlName="habilitado" [value]="true">
                  <label class="form-check-label">
                    Si
                  </label>
                </div>
              </div>

              <div class="col-1 mt-2">
                <div class="form-check">
                  <input class="form-check-input" type="radio"
                    formControlName="habilitado" [value]="false">
                  <label class="form-check-label">
                    No
                  </label>
                </div>
  

              </div>
            </div>
            <div class="form-group row my-3">
              <label class="col-4 col-form-label">Fecha de Baja</label>
              <div class="col">

                <input class="form-control" type="date" placeholder="Fecha de Baja" formControlName="fechaBaja">
             
              </div>
            </div>
            <div class="form-group row my-3">
              <label class="col-4 col-form-label">Motivo de baja</label>
              <div class="col">

                <textarea class="form-control" type="text" placeholder="Motivo de Baja" formControlName="motivoBaja">
                  </textarea>
              </div>
            </div>


          </div>







        </div>

        <div class="alert alert-success" *ngIf="contrasena" role="alert">
          La contraseña del socio será: <span class="badge bg-success">{{ contrasena }}</span>
        </div>


        <button *ngIf="!guardando" type="submit" class="btn btn-outline-primary mx-4 mt-2" [disabled]="guardando || subiendo"><i class="fas fa-save"></i> Guardar</button>
        <button *ngIf="guardando" type="submit" class="btn btn-outline-primary mx-4 mt-2" [disabled]="guardando"><i class="fas fa-sync-alt fa-spin"></i> Guardando</button>

      </form>




    </div>
  </div>
</div>