<div class="container-fuild m-2">

  <router-outlet></router-outlet>
    <!-- <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['lista']" routerLinkActive="active">Lista</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['socio']" routerLinkActive="active">Por socio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['convenio']" routerLinkActive="active">Por convenio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['convenios']" routerLinkActive="active">Exportar</a>
        </li>
      </ul> -->
    
</div>