/* You can add global styles to this file, and also import other style files */

*{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */

}

td .btn {
    height: 30px !important;
    line-height: 0.5px;
    width: 40px;
}

.buscador {
    max-width: 25% !important;
    top: 8px !important;
    
}